<ion-content [fullscreen]="true">
  <div class="container">
    <h4 class="mt-2 ">Users</h4>
    <div class="wrapper">
      <div class="row">
        <div class="col-12 ">
          <input class="form-control" type="text" placeholder="Search By Mobile" [(ngModel)]="firstName" (ngModelChange)="Search()">
        </div>
        <div class="col-6"></div>
      </div>
      <table class="rwd-table">
        <tr>
          <th>Sr No</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let user of users | paginate: {itemsPerPage:5, currentPage:p};">
          <td data-th="Id">{{user.id}}</td>
          <td data-th="Name">{{user.FirstName}} {{user.LastName}}</td>
          <td data-th="Mobile">{{user.Mobile}}</td>
          <td data-th="Email">{{user.Email}}</td>
          <td data-th="Action">
            <button class="btn btn-success" *ngIf="user.Approval=='Pending'" (click)="approve(user)"><ion-icon name="checkmark-done-circle-outline"></ion-icon></button>
            <button class="btn btn-primary" *ngIf="user.Approval=='Pending'" (click)="reject(user)"><ion-icon name="close-circle"></ion-icon></button>
            <button class="btn btn-danger" (click)="deleteUser(user.id)"><ion-icon name="trash"></ion-icon></button>
          </td>
        </tr>
        <pagination-controls style="margin-top: 40px !important;" (pageChange)="p = $event"></pagination-controls>
      </table>
    </div>
  </div>
</ion-content>