<ion-content [fullscreen]="true">
  <div class="container">
      <h6 class="mt-3">Dashboard</h6>
      <div class="wrapper">
          <div class="row">
              <div class="col-6" >
                  <a  class="text-decoration-none">
                  <ion-card class="shadow">
                      <ion-card-header>
                          <ion-card-title>{{staffCount}}</ion-card-title>
                          <ion-card-subtitle>Staff</ion-card-subtitle>
                      </ion-card-header>
                  </ion-card>
              </a>
              </div>
              <div class="col-6" >
                  <a  class="text-decoration-none">
                  <ion-card class="shadow">
                      <ion-card-header>
                          <ion-card-title>{{userCount}}</ion-card-title>
                          <ion-card-subtitle>Users</ion-card-subtitle>
                      </ion-card-header>
                  </ion-card>
              </a>
              </div>
              <div class="col-6" >
                  <a  class="text-decoration-none">
                  <ion-card class="shadow">
                      <ion-card-header>
                          <ion-card-title>{{complaintCount}}</ion-card-title>
                          <ion-card-subtitle>Complaints</ion-card-subtitle>
                      </ion-card-header>
                  </ion-card>
              </a>
              </div>
          </div>
      </div>
  </div>
</ion-content> 