<ion-content [fullscreen]="true">
  <div class="container">
    <h4 class="mt-2">Complaints</h4>
    <div class="wrapper">
      <div class="row">
        
      </div>
      <table class="rwd-table">
        <tr>
          <th>Complaint ID</th>
          <th>Description</th>
          <th>Created Date</th>
          <th>Created BY</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let user of users | paginate: {itemsPerPage:5, currentPage:p};">
          <td data-th="Complaint ID">{{user.id}}</td>
          <td data-th="Title">{{user.title}}</td>
          <td data-th="Description">{{user.description}}</td>
          <td data-th="Address">{{user.address}}</td>
          <td data-th="Status">{{user.status}}</td>
        
          <td data-th="Action">
            <button class="btn btn-success mx-1" (click)="setOpen(true, 'isModalOpen1', user)"><ion-icon name="eye" ></ion-icon></button>
            <button class="btn btn-primary mx-1" (click)="complete(user)" *ngIf="decryptedUser.UserRole !== 'User'"><ion-icon name="checkmark-circle"></ion-icon></button>
          </td>
        </tr>
        <pagination-controls style="margin-top: 40px !important;" (pageChange)="p = $event"></pagination-controls>
      </table>


      <ion-fab *ngIf="decryptedUser.UserRole=='User'" style="position: fixed; bottom: 30px; right: 20px;" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button size="small"  (click)="setOpen(true, 'isModalOpen')"> 
          <ion-icon id="open-modal" expand="block" name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-modal trigger="open-modal" [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel1()">Cancel</ion-button>
              </ion-buttons>
              <ion-title class="text-center">Add</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm(complaintForm.value)" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form #complaintForm="ngForm" class="w-100 px-3">
              <ion-item class="custom-item">
                <ion-label>Title</ion-label>
                <ion-input type="text" name="title" [(ngModel)]="title" required></ion-input>
              </ion-item>
            
              <ion-item class="custom-item">
                <ion-label>Description</ion-label>
                <ion-textarea name="description" [(ngModel)]="description" required></ion-textarea>
              </ion-item>
            
              <ion-item class="custom-item">
                <ion-label>Address</ion-label>
                <ion-input type="text" name="address" [(ngModel)]="address" required></ion-input>
              </ion-item>
              <ion-item class="custom-item">
                <label for="fileUpload">Choose a File</label>
                <input id="fileUpload" type="file" #upload>
              </ion-item>
            </form>
            
            
          </ion-content>
        </ng-template>
      </ion-modal>

      <!-- View complaint modal  -->
      <ion-modal trigger="open-modal" [isOpen]="isModalOpen1" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="close()">Cancel</ion-button>
              </ion-buttons>
              <ion-title class="text-center">Complaint</ion-title>
            
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            
            <ion-card>
              <!-- Complaint image -->
              <ion-img [src]="element.image"></ion-img>
          
              <ion-card-header>
                <!-- Complaint title -->
                <ion-card-title>{{ element.title }}</ion-card-title>
              </ion-card-header>
          
              <ion-card-content>
                <!-- Complaint description -->
                <p>{{ element.description }}</p>
          
                <!-- Display comments -->
                <ion-list *ngIf="element.status !== 'Complete'">
                  <h4>Comments</h4>
                  <ion-item *ngFor="let comment of comments ">
                   > {{ comment.comment }}
                  </ion-item>
                </ion-list>

                 <!-- Display feedback -->
                 <ion-list *ngIf="element.status == 'Complete'">
                  <h4>Feedback</h4>
                  <ion-item *ngFor="let feedback of feedbacks ">
                   > {{ feedback.feedback }}
                  </ion-item>
                </ion-list>
          
                <!-- Comment input field -->
                <ion-item *ngIf="element.status !== 'Complete'">
                  <ion-label position="floating">Add Comment</ion-label>
                  <ion-textarea [(ngModel)]="comment"></ion-textarea>
                </ion-item>

                <!-- Comment input field -->
                <ion-item *ngIf="element.status == 'Complete' && decryptedUser.UserRole == 'User'">
                  <ion-label position="floating">Add Feedback</ion-label>
                  <ion-textarea [(ngModel)]="feedback"></ion-textarea>
                </ion-item>
          
                <!-- Post comment button -->
                <ion-button expand="full" *ngIf="element.status !== 'Complete'" color="primary" (click)="postComment()">Post Comment</ion-button>
                <ion-button expand="full" color="primary" *ngIf="element.status == 'Complete' && decryptedUser.UserRole == 'User'"(click)="postFeedback()">Feedback</ion-button>
              </ion-card-content>
            </ion-card>
            
          </ion-content>
        </ng-template>
      </ion-modal>    

    </div>
  </div>
</ion-content>