<ion-content [fullscreen]="true">
  <div class="container">
    <h4 class="mt-2">Complaints</h4>
    <div class="wrapper">
      <div class="row">
        <div class="col-12 ">
          <input class="form-control" type="text" placeholder="Search By Mobile" [(ngModel)]="firstName" (ngModelChange)="Search()">
        </div>
      </div>
      <table class="rwd-table">
        <tr>
          <th>Complaint ID</th>
          <th>Description</th>
          <th>Created Date</th>
          <th>Created BY</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let user of users | paginate: {itemsPerPage:5, currentPage:p};">
          <td data-th="Complaint ID">{{user.sr}}</td>
          <td data-th="Description">Road Pot Holes</td>
          <td data-th="Created Date">18-06-2023</td>
          <td data-th="Created BY">Sanket</td>
          <td data-th="Action">
            <button class="btn btn-success mx-1"><ion-icon name="eye" ></ion-icon></button>
            <button class="btn btn-danger mx-1"><ion-icon name="checkmark-circle"></ion-icon></button>
          </td>
        </tr>
        <pagination-controls style="margin-top: 40px !important;" (pageChange)="p = $event"></pagination-controls>
      </table>


      <ion-fab style="position: fixed; bottom: 30px; right: 20px;" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button size="small"  (click)="setOpen(true)"> 
          <ion-icon id="open-modal" expand="block" name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-modal trigger="open-modal" [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel()">Cancel</ion-button>
              </ion-buttons>
              <ion-title class="text-center">Add</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="confirm(complaintForm.value)" [strong]="true">Confirm</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding">
            <form #complaintForm="ngForm" class="w-100 px-3">
              <ion-item class="custom-item">
                <ion-label>Title</ion-label>
                <ion-input type="text" name="title" [(ngModel)]="title" required></ion-input>
              </ion-item>
            
              <ion-item class="custom-item">
                <ion-label>Description</ion-label>
                <ion-textarea name="description" [(ngModel)]="description" required></ion-textarea>
              </ion-item>
            
              <ion-item class="custom-item">
                <ion-label>Address</ion-label>
                <ion-input type="text" name="address" [(ngModel)]="address" required></ion-input>
              </ion-item>
              <ion-item class="custom-item">
                <label for="fileUpload">Choose a File</label>
                <input id="fileUpload" type="file" #upload>
              </ion-item>
            </form>
            
            
          </ion-content>
        </ng-template>
      </ion-modal>

    </div>
  </div>
</ion-content>